# FastAPI
fastapi==0.116.1
uvicorn[standard]==0.35.0
slugify
# Database
sqlalchemy==2.0.43
asyncpg==0.30.0
psycopg2-binary==2.9.10

# Migrations
alembic==1.16.4

# Authentication
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

# Validation & Settings
pydantic==2.11.7
pydantic-settings==2.10.1
email-validator==2.2.0

# Multipart Uploads
python-multipart==0.0.20

# Environment Variables
python-dotenv==1.1.1

# Logging
loguru==0.7.3

# HTTP Client
httpx==0.28.1

# Testing
pytest==8.4.1
pytest-asyncio==1.1.0

# JSON
orjson==3.11.1

# Production Server
gunicorn==23.0.0